<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../../static/style.css'>
  <title>Blogly</title>
</head>
<body>
  <h1>Create a tag</h1>
  <section class='create-tag-form'>
    <form method='POST' class='info-form'>  
      <label>Name
        <input type='text' class='text' name='name'>
      </label>
      <a href='/tags' class='cancel-btn'>Cancel</a>
      <button type='submit' class='add'>Add</button>
    </form>
  </section>
</body>
</html>