<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../../static/style.css'>
  <title>Blogly</title>
</head>
<body>
  <h1>Edit Post</h1>
  <section class='create-user-form'>
    <form method='POST' class='info-form'>  
      <label>Title
        <input type='text' name='title' value='{{post.title}}'>
      </label>
      <label>Content
        <input type='text' name='content' value='{{post.content}}'>
      </label>
      
      <a href='/posts/{{ post.id }}' class='cancel-btn'>cancel</a>
      <button type='submit' class='save-btn'>Save</button>
    </form>
  </section>
</body>
</html>