<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../static/style.css'>
  <title>Create User</title>
</head>
<body>
  <h1>Create a user</h1>
  <section class='create-user-form'>
    <form action='/users/new' method='POST' class='info-form'>  
      <label>First Name
        <input type='text' name='first-name'>
      </label>
      <label>Last Name
        <input type='text' name='last-name'>
      </label>
      <label>Image URL
        <input type='url' name='image-url'>
      </label>
      <a href='/users' class='cancel-btn'>Cancel</a>
      <button class='add-btn'>Add</button>
    </form>
  </section>
</body>
</html>